{% extends "layout.html" %}
{% block title %}Camera{% endblock %}
{% block h1 %}Camera{% endblock %}

{% block head %}
    {% if params.every %}
        <meta http-equiv="refresh" content="{{ params.every[0] |e }}">
    {% endif %}
{% endblock %}

{% block content %}

    {% if job %}
        {% include 'progress.html' %}
    {% endif %}


    <div id="camera">
        <img src="/camera.jpg" alt="Printer Cam"/>
        <div class="options">
            <a href="/camera"><button class="danger">Never</button></a>
            <a href="/camera?every=60"><button class="go">1 Minute</button></a>
            <a href="/camera?every=10"><button class="go">10 Seconds</button></a>
            <a href="/camera?every=2"><button class="go">2 Seconds</button></a>
            <p>Update Frequency</p>
        </div>
    </div>

{% endblock %}

