{% extends "layout.html" %}

{% block title %}Folder{% endblock %}
{% block h1 %}Folder{% endblock %}

{% block content %}
    {{ super() }}

    <div class="dialog">
        <p>
            Delete file : {{ params.file[0] |e }} ?
        </p>
        <div class="options">
            <form action="/delete" method="post">
                <button class="action" name="cancel" value="cancel">Cancel</button>
                <button class="danger" name="file" value="{{ params.file[0] }}">Delete</button>
            </form>
        </div>
    </div>

{% endblock %}


