{% extends "layout.html" %}

{% block title %}Adoddler{% endblock %}
{% block h1 %}Adoddler Home{% endblock %}

{% block head %}
    <script type="text/javascript" src="/net_compressed.js"></script>
    <script type="text/javascript" src="/navigate.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}

    {% include 'messages.html' %}

    {% if pm.status != 1 %}
        <div id="navigate">
            <form action="/gcode" method="post">

                <div id="nav-e"
                    ><button title="Extrude a Lot" class="small go ten" name="gcode" value="nav/e10">E+</button
                    ><br/
                    ><button title="Extrude a Little" class="small go one" name="gcode" value="nav/e1">E+</button
                    ><br/><br/
                    ><button title="Retract a Little" class="small go one" name="gcode" value="nav/e-1">E-</button
                    ><br/
                    ><button title="Retract a Lot" class="small go ten" name="gcode" value="nav/e-10">E-</button
                ></div>

                <div id="nav-z"
                    ><button title="Move Head Up 10mm" class="small danger ten" name="gcode" value="nav/z10">Z+</button
                    ><br/
                    ><button title="Move Head Up 1mm" class="small danger one" name="gcode" value="nav/z1">Z+</button
                    ><br/
                    ><button title="Move Head Up 0.1mm" class="small danger tenth" name="gcode" value="nav/z0.1">Z+</button
                    ><br/
                    ><button title="Move Head Down 0.1mm" class="small danger tenth" name="gcode" value="nav/z-0.1">Z-</button
                    ><br/
                    ><button title="Move Head Down 1mm" class="small danger one" name="gcode" value="nav/z-1">Z-</button
                    ><br/
                    ><button title="Move Head Down 10mm" class="small danger ten" name="gcode" value="nav/z-10">Z-</button
                ></div>

                <div id="nav-xy"
                    ><button title="Y -10mm" class="small action ten" name="gcode" value="nav/y-10">Y+</button
                    ><br/
                    ><button title="Y -1mm" class="small action one" name="gcode" value="nav/y-1">Y+</button
                    ><br/
                    ><button title="X -10mm" class="small action ten" name="gcode" value="nav/x-10">X-</button
                        ><button title="X -1mm"class="small action one" name="gcode" value="nav/x-1">X-</button
                        ><button title="Home"class="small action tenth" name="gcode" value="nav/Home">o</button
                        ><button title="X 1mm"class="small action one" name="gcode" value="nav/x1">X+</button
                        ><button title="X 10mm"class="small action ten" name="gcode" value="nav/x10">X+</button
                    ><br/
                    ><button title="Y 1mm" class="small action one" name="gcode" value="nav/y1">Y-</button
                    ><br/
                    ><button title="Y 10mm" class="small action ten" name="gcode" value="nav/y10">Y-</button
                ></div>
            </form>
        </div>

        <form action="/gcode" method="post">
            <div class="options">

                {% for name in config.gcode_snippets %}
                    <button class="action" name="gcode" value="{{name |e}}">{{name |e}}</button>
                {% endfor %}
            </div>
        </form>

    {% endif %}



{% endblock %}

