<div id="progress">
    <div id="progress_done" style="width: {{ (100 * job.serial_reader.ok_count / job.command_total) }}%"></div>
    <div id="progress_text">

        <span id="extrude_count">
        {% if job.extrude_counter.count > 1000 %}
            {{ (job.extrude_counter.count / 1000) | int }}m
        {% else %}
            {{ (job.extrude_counter.count / 10) | int }}cm
        {% endif %}
        </span>

        {% if job.extrude_total %}
            of
            <span id="extrude_total">
            {% if job.extrude_total > 1000 %}
                {{ (job.extrude_total / 1000) | int}}m
            {% else %}
                {{ (job.extrude_total / 10) | int}}cm
            {% endif %}
            </span>
        {% endif %}

    </div>
</div>

<div class="options">
    <form action="/cancel" method="post">
        <button class="danger" name="cancel" value="cancel">Cancel</button>
    </form>
</div>

